$red:#e33333;
$white:#fff;

.bgColorRed{
	background-color:$red;
	color:#fff;
}

.pd10{
	padding:10px;
}

.autoImg, .autoImg img{
	width:100%;
}

.am-button-primary{
	background-color:$red;
	border-color:$red;
}