$red:#e33333;
$white:#fff;
$black:#444;
$borderColor:#ddd;
$yellow:#FFC300;
$blue:#0380E0;
$green:#0AE5BA;
$barNavHeight:.88rem;

.barNav{
	min-height:$barNavHeight;
	line-height:$barNavHeight;
	text-align:center;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	z-index:99;
	box-sizing:border-box;
	h2{
		margin:0;
		padding:0;
		font-size:.3rem;
	}
	.pullLeft{
		margin:.2rem 0 0 .2rem;
		float:left;
	}
	.pullRight{
		margin:.2rem .2rem 0 0;
		float:right;
	}
}
.barNav ~ .content{
	padding-top:$barNavHeight;
}

p{
	margin:.2rem 0;
}

.line1{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.line2{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.block{
	display:block;
}
.overflowHidden{
	overflow:hidden;
}

.bgColorRed{
	background-color:$red;
	color:$white;
}
.bgColorWhite{
	background-color:$white;
	color:$black;
}

.colorRed{
	color:$red;
}

.ac{
	text-align:center;
}

.pd10{
	padding:10px;
}

.title{
	padding-left:.6rem;
	padding-bottom:.2rem;
	margin:.2rem 0;
	border-bottom:solid 1px $borderColor;
	position:relative;
}
.title:before {
	content: '.';
	position:absolute;
	left:.2rem;
	top:0;
	width:.15rem;
	hieght:100%;
}
.title.yellow:before{
	color:$yellow;
	background:$yellow;
}
.title.blue:before{
	color:$blue;
	background:$blue;
}
.title.green:before{
	color:$green;
	background:$green;
}
.title.red:before{
	color:$red;
	background:$red;
}

.autoImg, .autoImg img{
	width:100%;
	display:block;
	vertical-align:bottom;
}

.am-button-primary{
	background-color:$red;
	border-color:$red;
}
.noDot div[class^="slider-decorator"]{
	display:none!important;
}

.ngProjectTab.am-segment{
	background-color:transparent;
	height:.65rem;
	border-radius:.3rem;
		.am-segment-item:last-child{
			border-radius:0 .3rem .3rem 0;
		}
		.am-segment-item:first-child{
			border-radius:.3rem 0 0 .3rem;
		}
		.am-segment-item{
			border-color:#FEF150;
			color:#FEF150!important;
			background-color:transparent!important;
		}
		.am-segment-item-selected{
			background-color:#FEF150!important;
			border-color:#FEF150;
			color:#015080!important;
		}
}



